<!-- Main Modal -->
<div
class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
"
>
  <!-- Encabezado -->
  <h3 class="text-2xl font-bold text-black text-center mb-6">
    Mapa Actual del Zoológico
  </h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Contenedor de la imagen -->
    <div class="image-container flex justify-center items-center mb-6">
      <img
        class="image rounded-lg shadow-lg border-white border-4"
        [src]="mapa[0].imagen"
        alt="Mapa no encontrado"
      />
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="text-sm text-red-600 text-center mb-4">
      {{ errorMessage }}
    </div>

    <!-- Input de archivo -->
    <div>
      <label for="imagen" class="block mb-2 text-sm font-semibold text-white">
        Cambiar Imagen
      </label>
      <input
        type="file"
        id="imagen"
        accept=".png, .jpg"
        formControlName="imagen"
        accept="image/*"
        (change)="cargarFoto($event)"
        class="block w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border file:border-gray-300 file:text-sm file:font-medium hover:file:bg-green-600 hover:file:text-white"
      />
      <div
        *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid"
        class="text-sm text-red-200 mt-2"
      >
        <span *ngIf="form.get('imagen')?.errors?.['required']">
          Por favor selecciona una imagen.
        </span>
      </div>
    </div>

    <!-- Botón de guardar -->
    <div class="flex items-center justify-center mt-6">
      <button
        [disabled]="loading()"
        type="submit"
        class="w-full max-w-xs text-white bg-green-600 hover:bg-green-700 transition-all duration-300 inline-flex justify-center items-center font-medium rounded-lg text-sm px-5 py-3 shadow-md hover:shadow-lg"
      >
        <svg
          class="w-6 h-6 mr-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        {{ loading() ? "Guardando..." : "Guardar Imagen" }}
      </button>
    </div>
  </form>
</div>
