<div class="max-w-4xl mx-auto p-6 bg-orange-400 shadow-md rounded-md mt-8">


  <!-- Encabezado -->
  <h3 class="text-lg font-semibold text-white text-center mb-4">
   Modificar premio trivia
 </h3>

      <!-- Modal body -->
      <form [formGroup]="form">
        <!-- comienzo -->
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div *ngIf="errorMessage" class="text-sm text-red-600">
            {{ errorMessage }}
          </div>

          <div>
            <label
              for="nombre_comun"
              class="block mb-2 text-sm font-medium  text-white"
              >Nombre</label
            >
            <input
              type="text"
              name="nombre"
              id="nombre"
              class=" border   text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
              placeholder="Nombre del premio"
              formControlName="nombre"
            />

            <div
              *ngIf="
                form.get('nombre')?.touched &&
                form.get('nombre')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('nombre')?.errors?.['required']"
                >Ingrese un nombre para el premio</span
              >
            </div>
          </div>



          <div>
            <label
              for="cantidad"
              class="block mb-2 text-sm font-medium  text-white"
              >Cantidad</label
            >
            <input
              type="number"
              name="cantidad"
              id="cantidad"
              min="0"
              class=" border   text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
              placeholder="Cantidad de premios"
              formControlName="Cantidad"
            />

            <div
              *ngIf="
                form.get('cantidad')?.touched &&
                form.get('cantidad')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('cantidad')?.errors?.['required']"
                >Ingrese un cantidad para el premio</span
              >
            </div>

          </div>




          <div>
            <label
              for="puntos_necesarios"
              class="block mb-2 text-sm font-medium  text-white"
              >Puntos necesarios</label
            >
            <input
              type="number"
              name="puntos_necesarios"
              id="puntos_necesarios"
              min="0"
              class=" border   text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
              placeholder="Ingrese la cantidad de puntos necesarios para el premio"
              formControlName="puntos_necesarios"
            />

            <div
              *ngIf="
                form.get('puntos_necesarios')?.touched &&
                form.get('puntos_necesarios')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('puntos_necesarios')?.errors?.['required']"
                >Ingrese un cantidad de puntos necesarios para el premio</span
              >
            </div>

          </div>




          <div class="sm:col-span-2">
            <label
              for="descripcion"
              class="block mb-2 text-sm font-medium  text-white"
              >Descripción</label
            >

            <textarea
              id="descripcion"
              formControlName="descripcion"
              name="descripcion"
              rows="5"
              class="block p-2.5 w-full text-sm   rounded-lg border  focus:ring-primary-500 focus:border-primary-500 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
              placeholder="Escriba una descripción"
            ></textarea>

            <div
              *ngIf="
                form.get('descripcion')?.touched &&
                form.get('descripcion')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('descripcion')?.errors?.['required']"
                >Ingrese una descripcion para el premio</span
              >
            </div>
          </div>





          <div>
            <label for="imagen" class="block mb-2 text-sm font-medium text-white">Imagen</label>
            <input
              type="file"
              id="imagen"
              accept="image/*"
              formControlName="imagen"
              (change)="cargarFoto($event)"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border file:text-sm file:font-medium hover:file:bg-orange-700 hover:file:text-white"
            />
            <div *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('imagen')?.errors?.['required']">Seleccione una imagen</span>
            </div>
          </div>




        </div>
        <!-- fin -->


        <div class="flex items-center space-x-4">
          <button
            [disabled]="loading()"
            (click)="actualizar()"
            type="button submit"
            class="w-full text-white bg-orange-600 hover:bg-orange-500 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
          >
            {{ loading() ? "Actualizando ..." : "Actualizar premio" }}
          </button>

          <button
            type="button"
            [disabled]="loading2()"
            (click)="borrarPremio()"
            class="w-full text-white bg-orange-600 hover:bg-orange-500 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
          >
            {{ loading2() ? "Eliminando ..." : "Eliminar premio" }}
          </button>
        </div>

      </form>
    </div>
