<!-- Main modal -->
<div   class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
">
  <!-- Modal header -->
      <h2 class="flex justify-center items-center text-2xl font-semibold text-white mb-6">
        Crear plantas
    </h2>

       <!-- Modal body -->
       <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <!-- comienzo -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">


          <!-- Nombre común -->
          <div class="flex flex-col">
            <label for="nombre_comun" class="text-white">Nombre Común</label>
            <input
              type="text"
              id="nombre_comun"
              class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Nombre común de la planta"
              formControlName="nombre_comun"
              required
            />
            <div *ngIf="form.get('nombre_comun')?.touched && form.get('nombre_comun')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('nombre_comun')?.errors?.['required']">Ingrese un nombre común para la planta</span>
            </div>
          </div>


          <!-- Nombre Científico -->
          <div>
            <label for="nombre_cientifico" class="block mb-2 text-sm font-medium text-white">Nombre científico</label>
            <input
              type="text"
              id="nombre_cientifico"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Nombre científico de la planta"
              formControlName="nombre_cientifico"
            />
            <div *ngIf="form.get('nombre_cientifico')?.touched && form.get('nombre_cientifico')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('nombre_cientifico')?.errors?.['required']">Ingrese un nombre científico para la planta</span>
            </div>
          </div>

          <div>
            <label for="zonas" class="block mb-2 text-sm font-medium text-white">zonas</label>
            <input
              type="text"
              id="zonas"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="zonas de la planta"
              formControlName="zonas"
            />
            <div *ngIf="form.get('zonas')?.touched && form.get('zonas')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('zonas')?.errors?.['required']">Ingrese un zona para la planta</span>
            </div>
          </div>

          <!-- Familia (Select) -->
          <div>
            <label for="familia" class="block mb-2 text-sm font-medium text-white">Familia</label>
            <select
                id="familia"
                formControlName="familia"
                class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
            >
                <option selected disabled>Seleccione una familia</option>
                <option value="Arbol">Árbol</option>
                <option value="Arbusto">Arbusto</option>
                <option value="Enredadera">Enredadera</option>
                <option value="Herbaceas">Herbáceas</option>
                <option value="Palmeras">Palmeras</option>
                <option value="Plantas acuaticas">Plantas acuáticas</option>
            </select>
            <div *ngIf="form.get('familia')?.touched && form.get('familia')?.invalid" class="text-sm text-white">
                <span *ngIf="form.get('familia')?.errors?.['required']">Seleccione una familia</span>
            </div>
        </div>

        <div>
          <label
            for="area"
            class="block mb-2 text-sm font-medium  text-white"
            >Area</label
          >
          <select
            id="area"
            formControlName="area"
            class=" border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
          >
            <option selected disabled>Escoja una opción</option>
            <option value="Selva Tropical">Selva Tropical</option>
            <option value="Sabana Africana">Sabana Africana</option>
            <option value="Acuario">Acuario</option>
            <option value="Montañas">Montañas</option>

          </select>

          <div
            *ngIf="
              form.get('area')?.touched && form.get('area')?.invalid
            "
            class="text-sm text-white"
          >
            <span *ngIf="form.get('area')?.errors?.['required']"
              >Seleccione una area</span
            >
          </div>
        </div>


             <!-- Peso y Altura en una fila -->
      <div class="flex gap-4">
        <!-- Altura -->
        <div class="flex flex-col w-1/2">
          <label for="altura" class="text-white">Altura</label>
          <div class="flex">
            <input
              type="number"
              id="altura"
              class="p-2 border rounded-md w-full focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Altura de la planta"
              formControlName="altura"
              required
            />
            <select
              formControlName="altura_formato"
              class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300 ml-2"
              required
            >
              <option selected disabled>Unidad</option>
              <option value="Cm">Cm</option>
              <option value="Mt">Mt</option>
            </select>
          </div>
          <div *ngIf="form.get('altura')?.touched && form.get('altura')?.invalid" class="text-sm text-white">
            <span *ngIf="form.get('altura')?.errors?.['required']">Ingrese una altura</span>
          </div>
          <div *ngIf="form.get('altura_formato')?.touched && form.get('altura_formato')?.invalid" class="text-sm text-white">
            <span *ngIf="form.get('altura_formato')?.errors?.['required']">Seleccione un formato para la altura</span>
          </div>
        </div>

        <!-- Peso -->
        <div class="flex flex-col w-1/2">
          <label for="peso" class="text-white">Peso</label>
          <div class="flex">
            <input
              type="number"
              id="peso"
              class="p-2 border rounded-md w-full focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Peso de la planta"
              formControlName="peso"
              required
            />
            <select
              formControlName="peso_formato"
              class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300 ml-2"
              required
            >
              <option selected disabled>Unidad</option>
              <option value="Gr">Gr</option>
              <option value="Kg">Kg</option>
            </select>
          </div>
          <div *ngIf="form.get('peso')?.touched && form.get('peso')?.invalid" class="text-sm text-white">
            <span *ngIf="form.get('peso')?.errors?.['required']">Ingrese un peso</span>
          </div>
          <div *ngIf="form.get('peso_formato')?.touched && form.get('peso_formato')?.invalid" class="text-sm text-white">
            <span *ngIf="form.get('peso_formato')?.errors?.['required']">Seleccione un formato para el peso</span>
          </div>
        </div>
      </div>



    <!-- Descripciones -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex flex-col">
        <label for="descripcion_1" class="text-white">Descripción 1</label>
        <textarea
          formControlName="descripcion_1"
          id="descripcion_1"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 1"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_1')?.touched &&
          form.get('descripcion_1')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_1')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="descripcion_2" class="text-white">Descripción 2</label>
        <textarea
          formControlName="descripcion_2"
          id="descripcion_2"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 2"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_2')?.touched &&
          form.get('descripcion_2')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_2')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="descripcion_3" class="text-white">Descripción 3</label>
        <textarea
          formControlName="descripcion_3"
          id="descripcion_3"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 3"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_3')?.touched &&
          form.get('descripcion_3')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_3')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
    </div>


    <!-- Fila de Cuidados -->
    <div class="flex justify-center">
      <div class="flex flex-col w-full max-w-md">
        <label for="cuidados" class="text-white">Cuidados</label>
        <input
          type="text"
          id="cuidados"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Cuidados necesarios para la planta"
          formControlName="cuidados"
          required
        />
        <div *ngIf="form.get('cuidados')?.touched && form.get('cuidados')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('cuidados')?.errors?.['required']">Ingrese los cuidados de la planta</span>
        </div>
      </div>
    </div>
          <!-- Floración -->
          <div>
            <label for="floracion" class="block mb-2 text-sm font-medium text-white">Floración</label>
            <input
              type="text"
              id="floracion"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Periodo de floración"
              formControlName="floracion"
            />
            <div *ngIf="form.get('floracion')?.touched && form.get('floracion')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('floracion')?.errors?.['required']">Ingrese el periodo de floración</span>
            </div>
          </div>

          <!-- Importancia -->
          <div>
            <label for="importancia" class="block mb-2 text-sm font-medium text-white">Importancia</label>
            <input
              type="text"
              id="importancia"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Importancia de la planta"
              formControlName="importancia"
            />
            <div *ngIf="form.get('importancia')?.touched && form.get('importancia')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('importancia')?.errors?.['required']">Ingrese la importancia de la planta</span>
            </div>
          </div>

          <!-- Estado -->
          <div>
            <label for="estado" class="block mb-2 text-sm font-medium text-white">Estado</label>
            <input
              type="text"
              id="estado"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Estado de la planta"
              formControlName="estado"
            />
            <div *ngIf="form.get('estado')?.touched && form.get('estado')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('estado')?.errors?.['required']">Ingrese el estado de la planta</span>
            </div>
          </div>

          <!-- Curiosidad -->
          <div>
            <label for="curiosidad" class="block mb-2 text-sm font-medium text-white">Curiosidad</label>
            <input
              type="text"
              id="curiosidad"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Curiosidades de la planta"
              formControlName="curiosidad"
            />
            <div *ngIf="form.get('curiosidad')?.touched && form.get('curiosidad')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('curiosidad')?.errors?.['required']">Ingrese curiosidades sobre la planta</span>
            </div>
          </div>

          <!-- Precaución -->
          <div>
            <label for="precaucion" class="block mb-2 text-sm font-medium text-white">Precaución</label>
            <input
              type="text"
              id="precaucion"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Precauciones de la planta"
              formControlName="precaucion"
            />
            <div *ngIf="form.get('precaucion')?.touched && form.get('precaucion')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('precaucion')?.errors?.['required']">Ingrese precauciones de la planta</span>
            </div>
          </div>

          <!-- Usos -->
          <div>
            <label for="usos" class="block mb-2 text-sm font-medium text-white">Usos</label>
            <input
              type="text"
              id="usos"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Usos de la planta"
              formControlName="usos"
            />
            <div *ngIf="form.get('usos')?.touched && form.get('usos')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('usos')?.errors?.['required']">Ingrese los usos de la planta</span>
            </div>
          </div>

          <!-- Posición en el Mapa -->
          <div>
            <label for="posicion_mapa" class="block mb-2 text-sm font-medium text-white">Posición en el mapa</label>
            <input
              type="number"
              id="posicion_mapa"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Posición en el mapa"
              formControlName="posicion_mapa"
            />
            <div *ngIf="form.get('posicion_mapa')?.touched && form.get('posicion_mapa')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('posicion_mapa')?.errors?.['required']">Ingrese la posición en el mapa</span>
            </div>
          </div>

          <!-- Imagen -->
          <div>
            <label for="imagen" class="block mb-2 text-sm font-medium text-white">Imagen</label>
            <input
              type="file"
              id="imagen"
              accept="image/*"
              formControlName="imagen"
              (change)="cargarFoto($event)"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border file:text-sm file:font-medium hover:file:bg-orange-700 hover:file:text-white"
            />
            <div *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('imagen')?.errors?.['required']">Seleccione una imagen</span>
            </div>
          </div>

          <!-- Video -->
          <div>
            <label for="video" class="block mb-2 text-sm font-medium text-white">Video</label>
            <input
              type="file"
              id="video"
              accept="video/*"
              formControlName="video"
              (change)="cargarVideo($event)"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border file:text-sm file:font-medium hover:file:bg-orange-700 hover:file:text-white"
            />
            <div *ngIf="form.get('video')?.touched && form.get('video')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('video')?.errors?.['required']">Seleccione un video</span>
            </div>
          </div>

          <!-- Audio -->
          <div>
            <label for="audio" class="block mb-2 text-sm font-medium text-white">Audio</label>
            <input
              type="file"
              id="audio"
              accept="audio/*"
              formControlName="audio"
              (change)="cargarAudio($event)"
              class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border file:text-sm file:font-medium hover:file:bg-orange-700 hover:file:text-white"
            />
            <div *ngIf="form.get('audio')?.touched && form.get('audio')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('audio')?.errors?.['required']">Seleccione un audio</span>
            </div>
          </div>

        </div>
        <!-- fin -->

        <div class="flex items-center space-x-4">
          <button
            [disabled]="loading()"
            type="submit"
            class="w-full text-white bg-orange-500 hover:bg-orange-400 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
          >
            <svg
              class="w-6 h-6 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            {{ loading() ? "Guardando ..." : "Guardar Planta" }}
          </button>
        </div>

      </form>
</div>
