<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title class="text-center justify-center">Dashboard Operativo</title> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <!-- Header -->
        <!-- <div class=" flex justify-center  items-center mb-6">
            <h1 class="text-3xl font-semibold text-gray-700 ">Dashboard Operativo</h1>
        </div> -->


        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
          <!-- Ingresos app -->
          <div class="flex justify-center">
            <app-ingresos-app class="w-full max-w-sm"></app-ingresos-app>
          </div>

          <!-- Solicitudes oirs pendientes -->
          <div class="flex justify-center">
            <app-solicitudes-pendientes-oirs class="w-full max-w-sm"></app-solicitudes-pendientes-oirs>
          </div>

          <!-- Satisfacción promedio -->
          <div class="flex justify-center">
            <app-satisfaccion-promedio class="w-full max-w-sm"></app-satisfaccion-promedio>
          </div>
        </div>


        <!-- Charts Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <!-- Pie Chart Placeholder -->
            <app-respuestas-trivia></app-respuestas-trivia>

            <!-- Bar Chart Placeholder -->
            <app-grafico-oirs-hoy></app-grafico-oirs-hoy>
         </div>


        <!-- Recent OIRS Table -->
        <app-solicitudes-oirs-recientes></app-solicitudes-oirs-recientes>

         <!-- Premios no Reclamados -->
         <app-premios-no-reclamados></app-premios-no-reclamados>


        <!-- Popularidad Animales -->
        <app-popularidad-animal></app-popularidad-animal>

        <!-- Popularidad Plantas -->
        <app-popularidad-planta></app-popularidad-planta>



        <!-- Escaneos por Área -->
        <app-escaneo-areas-hoy></app-escaneo-areas-hoy>



        <!-- Footer -->
        <footer class="mt-8 text-gray-500 text-center">
            &copy; 2024 Bioparque Dashboard
        </footer>
    </div>
</body>
</html>
