<div class="min-h-screen p-6"
     style="
        background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
        backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
        -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
        border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
        box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
      "
>
  <!-- Título -->
  <h2 class="text-center text-2xl font-bold text-white mb-6">
    Historial popularidad animal
  </h2>

  <!-- Contenedor de información del animal -->
  <div class="flex flex-col items-center mb-6">
    <img
      *ngIf="animal?.imagen"
      [src]="animal?.imagen"
      alt="{{ animal?.nombre_comun }}"
      class="w-32 h-32 rounded-full object-cover mb-4 "
      style="
      background: rgba(255, 255, 255, 0.797); /* Verde translúcido con opacidad */
      backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
      -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
      border: 5px solid rgba(255, 255, 255, 0.2); /* Borde claro */
      box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */

    "
    />
    <h3 class="text-lg font-semibold text-white">{{ animal?.nombre_comun }}</h3>
  </div>

  <!-- Contenedor del gráfico -->
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg font-semibold text-gray-700">Historial Popularidad {{ animal?.nombre_comun }}</h2>
      <select
        id="filterYear"
        [(ngModel)]="selectedYear12"
        (change)="cargarGraficoHistorial()"
        class="border border-gray-300 rounded-lg px-4 py-2 text-lg text-gray-700 w-56"
      >
        <option *ngFor="let year of availableYears" [value]="year">
          {{ year }}
        </option>
      </select>
    </div>

    <!-- Canvas centrado -->
    <div class="flex justify-center items-center">
      <canvas id="animalPopularityChart" class="w-full max-w-xl h-96"></canvas>
    </div>
  </div>
</div>
