<div class="flex flex-col items-center justify-center bg-gray-100 min-h-screen p-6">
  <!-- Título -->
  <h2 class="text-center text-2xl font-bold text-gray-800 mb-6">
    Historial popularidad animal
  </h2>

  <!-- Contenedor de información del animal -->
  <div class="flex flex-col items-center mb-6">
    <img
      *ngIf="animal?.imagen"
      [src]="animal?.imagen"
      alt="{{ animal?.nombre_comun }}"
      class="w-32 h-32 rounded-full object-cover mb-4"
    />
    <h3 class="text-lg font-semibold text-gray-700">{{ animal?.nombre_comun }}</h3>
  </div>

  <!-- Contenedor del gráfico -->
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-3xl">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg font-semibold text-gray-700">Historial Popularidad {{ animal?.nombre_comun }}</h2>
      <select
        id="filterYear"
        [(ngModel)]="selectedYear12"
        (change)="cargarGraficoHistorial()"
        class="border border-gray-300 rounded-lg px-4 py-2 text-lg text-gray-700 w-56"
      >
        <option *ngFor="let year of availableYears" [value]="year">
          {{ year }}
        </option>
      </select>
    </div>

    <!-- Canvas para el gráfico -->
    <canvas id="animalPopularityChart" class="w-full h-96"></canvas>
  </div>
</div>
