<div  class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
">

  <!-- Encabezado -->
  <h3 class="text-lg font-semibold text-white text-center mb-4">
    Crear noticia
 </h3>
      <!-- Modal body -->
      <form [formGroup]="form" (ngSubmit)="submit()">
        <!-- comienzo -->
        <div class="grid gap-4 mb-4 sm:grid-cols-2">

          <!-- Nombre de la Noticia -->
          <div class="sm:col-span-2">
            <label for="nombre" class="block mb-2 text-sm font-medium text-white">Nombre</label>
            <input
              type="text"
              id="nombre"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Nombre de la noticia"
              formControlName="nombre"
            />
            <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('nombre')?.errors?.['required']">Ingrese un nombre para la noticia</span>
            </div>
          </div>

          <!-- Descripción -->
          <div class="sm:col-span-2">
            <label for="descripcion" class="block mb-2 text-sm font-medium text-white">Descripción</label>
            <textarea
              id="descripcion"
              formControlName="descripcion"
              rows="4"
              class="block p-2.5 w-full text-sm rounded-lg border focus:ring-primary-500 focus:border-primary-500 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Descripción de la noticia"
            ></textarea>
            <div *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('descripcion')?.errors?.['required']">Ingrese una descripción para la noticia</span>
            </div>
          </div>

          <!-- Imagen -->
          <div class="flex flex-col ">
            <label for="imagen" class="text-white">Imagen</label>
            <input
              id="imagen"
              formControlName="imagen"
              type="file"
              accept="image/*"
              (change)="cargarFoto($event)"
              class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              required
            />
            <div *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('imagen')?.errors?.['required']">Seleccione una imagen</span>
            </div>
          </div>

        </div>
        <!-- fin -->

        <div class="flex items-center space-x-4">
          <button
            [disabled]="loading()"
            type="submit"
            class="w-full text-white bg-green-600 hover:bg-green-700 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
          >
            <svg
              class="w-6 h-6 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            {{ loading() ? "Guardando ..." : "Guardar Noticia" }}
          </button>
        </div>

      </form>
    </div>
