


<div   class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
">
  <h2 class="flex justify-center items-center text-2xl font-semibold text-white mb-6">
    Formulario de Registro Animal
  </h2>
  <form  [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
    <div class="flex flex-col md:flex-row gap-4">
      <!-- Nombre Común -->
      <div class="flex flex-col w-full md:w-1/2">
        <label for="nombre_comun" class="text-white">Nombre Común</label>
        <input
          formControlName="nombre_comun"
          id="nombre_comun"
          type="text"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Nombre Común"
          required
        />

        <div
        *ngIf="
          form.get('nombre_comun')?.touched &&
          form.get('nombre_comun')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('nombre_comun')?.errors?.['required']"
          >Ingrese un nombre común</span
        >
      </div>
      </div>

      <!-- Nombre Científico -->
      <div class="flex flex-col w-full md:w-1/2">
        <label for="nombre_cientifico" class="text-white">Nombre Científico</label>
        <input
          formControlName="nombre_cientifico"
          id="nombre_cientifico"
          type="text"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Nombre Científico"
          required
        />

        <div
        *ngIf="
          form.get('nombre_cientifico')?.touched &&
          form.get('nombre_cientifico')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('nombre_cientifico')?.errors?.['required']"
          >Ingrese un nombre Científico</span
        >
      </div>
      </div>
    </div>

    <!-- Descripciones -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex flex-col">
        <label for="descripcion_1" class="text-white">Descripción 1</label>
        <textarea
          formControlName="descripcion_1"
          id="descripcion_1"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 1"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_1')?.touched &&
          form.get('descripcion_1')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_1')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="descripcion_2" class="text-white">Descripción 2</label>
        <textarea
          formControlName="descripcion_2"
          id="descripcion_2"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 2"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_2')?.touched &&
          form.get('descripcion_2')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_2')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="descripcion_3" class="text-white">Descripción 3</label>
        <textarea
          formControlName="descripcion_3"
          id="descripcion_3"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Descripción 3"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('descripcion_3')?.touched &&
          form.get('descripcion_3')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('descripcion_3')?.errors?.['required']"
          >Ingrese una descripcion</span
        >
      </div>
      </div>
    </div>

    <div>
      <label for="dato_curioso" class="block mb-2 text-sm font-medium text-white">Curiosidad</label>
      <input
        type="text"
        id="dato_curioso"
        formControlName="dato_curioso"
        class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        placeholder="Ingrese una curiosidad"
        required
      />
      <div
      *ngIf="
        form.get('dato_curioso')?.touched &&
        form.get('dato_curioso')?.invalid
      "
      class="text-sm text-white"
    >
      <span *ngIf="form.get('dato_curioso')?.errors?.['required']"
        >Ingrese una curiosidad</span
      >
    </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex flex-col">
        <label for="precaucion_1" class="text-white">Precaucion 1</label>
        <textarea
          formControlName="precaucion_1"
          id="precaucion_1"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Precaucion 1"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('precaucion_1')?.touched &&
          form.get('precaucion_1')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('precaucion_1')?.errors?.['required']"
          >Ingrese una precaucion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="precaucion_2" class="text-white">Precaucion 2</label>
        <textarea
          formControlName="precaucion_2"
          id="precaucion_2"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Precaucion 2"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('precaucion_2')?.touched &&
          form.get('precaucion_2')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('precaucion_2')?.errors?.['required']"
          >Ingrese una 2da precaucion</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="precaucion_3" class="text-white">Precaucion 3</label>
        <textarea
          formControlName="precaucion_3"
          id="precaucion_3"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Precaucion 3"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('precaucion_3')?.touched &&
          form.get('precaucion_3')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('precaucion_3')?.errors?.['required']"
          >Ingrese una 3ra precaucion</span
        >
      </div>
      </div>
    </div>

    <!-- Otros Campos -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Peso y Unidad de Peso -->
      <div>
        <label for="peso" class="block mb-2 text-sm font-medium text-white">Peso</label>
        <div class="flex">
          <input
            id="peso"
            type="number"
            formControlName="peso"
            min="1"
            class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
            placeholder="Ingrese peso"
            required
          />
          <select
            formControlName="unidad_peso"
            class="border ml-2 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-auto p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
            required
          >
            <option selected disabled>Unidad</option>
            <option value="kg">kg</option>
            <option value="gr">gr</option>
          </select>
        </div>

        <div *ngIf="form.get('peso')?.touched && form.get('peso')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('peso')?.errors?.['required']">Ingrese un valor de peso</span>
        </div>
        <div *ngIf="form.get('unidad_peso')?.touched && form.get('unidad_peso')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('unidad_peso')?.errors?.['required']">Seleccione un tipo de unidad de peso</span>
        </div>

      </div>

      <!-- Altura y Unidad de Altura -->
      <div>
        <label for="altura" class="block mb-2 text-sm font-medium text-white">Altura</label>
        <div class="flex">
          <input
            id="altura"
            type="number"
            formControlName="altura"
            min="1"
            class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
            placeholder="Ingrese altura"
            required
          />
          <select
            formControlName="unidad_altura"
            class="border ml-2 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-auto p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
            required
          >
            <option selected disabled>Unidad</option>
            <option value="cm">cm</option>
            <option value="mt">mt</option>
          </select>
        </div>
        <div *ngIf="form.get('altura')?.touched && form.get('altura')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('altura')?.errors?.['required']">Ingrese un valor de altura</span>
        </div>

        <div *ngIf="form.get('unidad_altura')?.touched && form.get('unidad_altura')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('unidad_altura')?.errors?.['required']">Seleccione un tipo de unidad de altura</span>
        </div>
      </div>

      <!-- Hábitat y Zona -->
      <div class="flex flex-col">
        <label for="habitad" class="text-white">Hábitat</label>
        <input
          formControlName="habitad"
          id="habitad"
          type="text"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Hábitat"
          required
        />
        <div
        *ngIf="
          form.get('habitad')?.touched &&
          form.get('habitad')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('habitad')?.errors?.['required']"
          >Ingrese una habitad</span
        >
      </div>
      </div>
      <div class="flex flex-col">
        <label for="zona" class="text-white">Zona</label>
        <input
          formControlName="zona"
          id="zona"
          type="text"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Zona"
          required
        />
        <div
        *ngIf="
          form.get('zona')?.touched &&
          form.get('zona')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('zona')?.errors?.['required']"
          >Ingrese una zona</span
        >
      </div>
      </div>

      <!-- Dieta y Descripción de Dieta -->
      <div class="flex flex-col">
        <label for="dieta_descripcion" class="block mb-2 text-sm font-medium text-white">Dieta</label>
        <div class="flex w-full gap-2">
          <input
            type="text"
            id="dieta_descripcion"
            formControlName="dieta_descripcion"
            class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block flex-grow p-2.5 bg-white border-gray-300 placeholder-gray-400 text-gray-800"
            placeholder="Descripción de la dieta"
            required
          />

          <select
            formControlName="dieta"
            class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 bg-white border-gray-300 placeholder-gray-400 text-gray-800"
            required
          >
            <option selected disabled>Seleccione un tipo de dieta</option>
            <option value="omnivoro">Omnívoro</option>
            <option value="carnivoro">Carnívoro</option>
            <option value="herbivoro">Herbívoro</option>
            <option value="frugivoro">Frugívoro</option>
          </select>
        </div>
        <div *ngIf="form.get('dieta_descripcion')?.touched && form.get('dieta_descripcion')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('dieta_descripcion')?.errors?.['required']">Ingrese una descripción de la dieta</span>
        </div>
        <div *ngIf="form.get('dieta')?.touched && form.get('dieta')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('dieta')?.errors?.['required']">Seleccione un tipo de dieta</span>
        </div>
      </div>

      <!-- Clase (Especie) -->
      <div class="flex flex-col">
        <label for="clase" class="block mb-2 text-sm font-medium text-white">Especie</label>
        <select
          id="clase"
          formControlName="clase"
          class="border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white placeholder-gray-400 text-gray-800"
          required
        >
          <option selected disabled>Escoja una opción</option>
          <option value="Mamífero">Mamíferos</option>
          <option value="Ave">Aves</option>
          <option value="Reptil">Reptiles</option>
          <option value="Anfibio">Anfibios</option>
          <option value="Pez">Peces</option>
          <option value="Insecto">Insectos</option>
          <option value="Molusco">Moluscos</option>
          <option value="Arácnido">Arácnidos</option>
          <option value="Crustáceo">Crustáceos</option>
          <option value="Equinodermo">Equinodermos</option>
        </select>


        <div
        *ngIf="
          form.get('clase')?.touched && form.get('clase')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('clase')?.errors?.['required']"
          >Seleccione una especie</span
        >
      </div>
      </div>

      <!-- Disponibilidad -->
      <div class="flex flex-col">
        <label for="disponibilidad" class="text-white">Disponibilidad</label>
        <select
          id="disponibilidad"
          formControlName="disponibilidad"
          class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
          required
        >
          <option selected disabled>Escoga una opción</option>
          <option value="Disponible">Disponible</option>
          <option value="Tratamiento">Tratamiento</option>
          <option value="Proximamente">Proximamente</option>
        </select>
        <div
        *ngIf="form.get('disponibilidad')?.touched && form.get('disponibilidad')?.invalid"
        class="text-sm text-white"
      >
        <span *ngIf="form.get('disponibilidad')?.errors?.['required']"
          >Seleccione un disponibilidad</span
        >
      </div>
      </div>

      <!-- Área -->
      <div class="flex flex-col">
        <label for="area" class="text-white">Área</label>
        <select
          id="area"
          formControlName="area"
          class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black focus:ring-primary-500 focus:border-primary-500"
          required
        >
          <option selected disabled>Escoja una opción</option>
          <option value="Selva Tropical">Selva Tropical</option>
          <option value="Sabana Africana">Sabana Africana</option>
          <option value="Acuario">Acuario</option>
          <option value="Montañas">Montañas</option>
        </select>
        <div
        *ngIf="
          form.get('area')?.touched && form.get('area')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('area')?.errors?.['required']"
          >Seleccione una area</span
        >
      </div>
      </div>

      <div class="flex flex-col">
        <label for="posicion_mapa" class="text-white">Posición en el Mapa</label>
        <input
          formControlName="posicion_mapa"
          id="posicion_mapa"
          type="number"
          min="1"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Posición en el Mapa"
          required
        />
        <div
        *ngIf="
          form.get('posicion_mapa')?.touched &&
          form.get('posicion_mapa')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('posicion_mapa')?.errors?.['required']"
          >Ingrese la posición del mapa</span
        >
      </div>
      </div>

      <div class="flex flex-col">
        <label for="estado_conservacion" class="text-white">Estado Conservación</label>
        <input
          formControlName="estado_conservacion"
          id="estado_conservacion"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Estado Conservación"
          required
        />
        <div
        *ngIf="
          form.get('estado_conservacion')?.touched &&
          form.get('estado_conservacion')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('estado_conservacion')?.errors?.['required']"
          >Ingrese un estado de conservacion del animal</span
        >
      </div>
      </div>

      <!-- Comportamiento -->
      <div class="flex flex-col">
        <label for="comportamiento" class="text-white">Comportamiento</label>
        <textarea
          formControlName="comportamiento"
          id="comportamiento"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Comportamiento"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('comportamiento')?.touched &&
          form.get('comportamiento')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('comportamiento')?.errors?.['required']"
          >Ingrese un comportamiento</span
        >
      </div>
      </div>

      <!-- Cuidados -->
      <div class="flex flex-col">
        <label for="cuidados" class="text-white">Cuidados</label>
        <textarea
          formControlName="cuidados"
          id="cuidados"
          class="p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Ingrese Cuidados"
          required
        ></textarea>
        <div
        *ngIf="
          form.get('cuidados')?.touched &&
          form.get('cuidados')?.invalid
        "
        class="text-sm text-white"
      >
        <span *ngIf="form.get('cuidados')?.errors?.['required']"
          >Ingrese un cuidado</span
        >
      </div>
      </div>

      <!-- Imagen, Video, Audio -->
      <div class="flex flex-col">
        <label for="imagen" class="text-white">Imagen Animal</label>
        <input
          id="imagen"
          formControlName="imagen"
          type="file"
          accept="image/*"
          (change)="cargarFoto($event)"
          class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          required
        />
        <div *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('imagen')?.errors?.['required']">Seleccione una imagen</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="video" class="text-white">Video Animal</label>
        <input
          id="video"
          formControlName="video"
          type="file"
          accept="video/*"
          (change)="cargarVideo($event)"
          class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          required
        />
        <div *ngIf="form.get('video')?.touched && form.get('video')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('video')?.errors?.['required']">Seleccione un video</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="audio" class="text-white">Audio Explicativo</label>
        <input
          id="audio"
          formControlName="audio"
          type="file"
          accept="audio/*"
          (change)="cargarAudio($event)"
          class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          required
        />
        <div *ngIf="form.get('audio')?.touched && form.get('audio')?.invalid" class="text-sm text-white">
          <span *ngIf="form.get('audio')?.errors?.['required']">Seleccione un audio</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="audioAnimal" class="text-white">Audio Animal</label>
        <input
          id="audioAnimal"
          formControlName="audioAnimal"
          type="file"
          accept="audio/*"
          (change)="cargarAudioAnimal($event)"
          class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        />
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <button
        [disabled]="loading()"
        type="submit"
        class="w-full text-white bg-orange-500 hover:bg-orange-400 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
      >
        <svg
          class="w-6 h-6 text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        {{ loading() ? "Guardando ..." : "Guardar animal" }}
      </button>
    </div>

  </form>
</div>


