<div class="p-6 rounded-lg shadow space-y-6 bg-white" >
  <h3 class="text-xl font-semibold text-gray-900 text-center">Recompensas</h3>

<!-- Gráfico de recompensas -->
<div class="bg-gray-50 p-4 rounded-md shadow-md">
  <div class="flex justify-between items-center mb-4">
    <h4 class="text-md font-semibold text-gray-600">Recompensas por Mes</h4>
    <select
      class="border border-gray-300 rounded-md p-2"
      [(ngModel)]="selectedYear6"
      (change)="updateRewardsGraph()"
    >
      <option *ngFor="let year of availableYears" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
  <canvas id="rewardsChart" class="w-full h-[300px]"></canvas>
</div>



  <!-- Filtros -->
  <div class="flex flex-wrap gap-4 ">
    <select
      class="border border-gray-300 rounded-md p-2"
      [(ngModel)]="filters.estado"
      (change)="aplicarFiltros()"
    >
      <option value="">Todas</option>
      <option value="reclamado">Reclamadas</option>
      <option value="noReclamado">No Reclamadas</option>
    </select>
  </div>

  <!-- Tabla de recompensas -->
  <div class="overflow-x-auto">
    <table class="min-w-full border border-gray-300 bg-white">
      <thead class="bg-gray-50">
        <tr>
          <th class="text-left p-2 border-b">Premio</th>
          <th class="text-left p-2 border-b">Código</th>
          <th class="text-left p-2 border-b">Estado</th>
          <th class="text-left p-2 border-b">Acción</th>
        </tr>
      </thead>
      <tbody class="divide-y">
        <tr *ngFor="let recompensa of getPaginatedRecompensas()">

          <td class="p-2">{{ recompensa.premio.nombre }}</td>
          <td class="p-2">{{ recompensa.codigo }}</td>
          <td class="p-2" [ngClass]="!recompensa.estado ? 'text-green-500' : 'text-red-500'">
            {{ !recompensa.estado ? 'Reclamado' : 'No Reclamado' }}
          </td>
          <td class="p-2">
            <button
              class="bg-orange-500 text-white px-3 py-1 rounded hover:bg-orange-600"
              *ngIf="recompensa.estado"
              (click)="reclamarPremio(recompensa.id)"
            >
              Reclamar
            </button>
            <span class="text-gray-500 italic" *ngIf="!recompensa.estado">Reclamado</span>
          </td>
        </tr>
        <tr *ngIf="getPaginatedRecompensas().length === 0">
          <td colspan="5" class="p-2 text-center text-gray-500">
            No hay recompensas para mostrar
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Botones de paginación -->
  <div class="flex justify-between items-center mt-4">
    <button
      class="bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-700 transition"
      (click)="cambiarPagina('prev')"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <span class="text-sm text-gray-800">
      Página {{ currentPage }} de {{ getTotalPages() }}
    </span>
    <button
      class="bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-700 transition"
      (click)="cambiarPagina('next')"
      [disabled]="currentPage === getTotalPages()"
    >
      Siguiente
    </button>
  </div>
</div>
