<div   class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
">
  <div class="centered">
    <h5 class="card-title text-xl font-semibold text-white mb-4 text-center">
      Generar Boleta y QR
    </h5>

    <!-- Contenedor del QR -->
    <div
      #qrcode
      class="qr-placeholder flex items-center justify-center mb-6 p-4 bg-white shadow rounded-lg"
      [ngClass]="{ 'qr-generated': qrGenerado }"
    >
      <qrcode
        *ngIf="qrGenerado"
        [qrdata]="qrData"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <p *ngIf="!qrGenerado" class="text-gray-500">
        QR no generado aún
      </p>
    </div>


<!-- Contenedor con Flexbox -->
<div *ngIf="qrGenerado" class="mb-6 flex items-center space-x-4">


  <!-- Buscador -->
  <div class="w-1/2">
    <label for="filtroBusqueda" class="block text-white font-medium mb-2">
      Buscar por nombre o correo:
    </label>
    <input
      type="text"
      id="filtroBusqueda"
      [(ngModel)]="filtroBusqueda"
      class="w-full bg-gray-50 border border-gray-300 text-gray-700 py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500"
      placeholder="Buscar..."
    />
  </div>

    <!-- Select de usuarios -->
    <div class="w-1/2">
      <label for="usuarioSelect" class="block text-white font-medium mb-2">
        Seleccione un usuario para enviar el QR:
      </label>
      <select
        id="usuarioSelect"
        [(ngModel)]="correoSeleccionado"
        class="w-full bg-gray-50 border border-gray-300 text-gray-700 py-2 px-4 rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500"
      >
        <option
          *ngFor="let usuario of usuariosFiltrados"
          [value]="usuario.correo"
          class="text-gray-700"
        >
          {{usuario.nombre }}, Correo: {{ usuario.correo }}
        </option>
      </select>
    </div>
</div>


    <!-- Acciones -->
    <div class="actions flex flex-wrap gap-4">
      <button
        (click)="generarQr()"
        class=" text-white py-2 px-4 rounded-lg shadow hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-600"
        style="background: #ffba08;"
      >
        Generar QR
      </button>
      <a [href]="qrCodeDownloadLink" download="qrcode.png">
        <button
          [disabled]="!qrGenerado"
          class=" text-white py-2 px-4 rounded-lg shadow hover:bg-orange-600 disabled:opacity-50 disabled:cursor-not-allowed"
          style="background: #f48c06;"
        >
          Descargar QR
        </button>
      </a>
      <button
        (click)="sendEmail(correoSeleccionado)"
        [disabled]="!qrGenerado"
        class=" text-white py-2 px-4 rounded-lg shadow hover:bg-orange-700 disabled:opacity-50 disabled:cursor-not-allowed"
        style="background: #dc2f02;"
      >
        Mandar Correo
      </button>
    </div>
  </div>
</div>
