<div  class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-8"
style="
  background: rgba(50, 205, 50, 0.4); /* Verde translúcido con opacidad */
  backdrop-filter: blur(15px) saturate(1.8); /* Desenfoque y saturación */
  -webkit-backdrop-filter: blur(15px) saturate(1.8); /* Compatibilidad Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde claro */
  box-shadow: 0 8px 32px rgba(0, 128, 0, 0.25); /* Sombra con un toque verde */
  border-radius: 16px; /* Bordes redondeados */
">

  <!-- Encabezado -->
  <h3 class="text-lg font-semibold text-white text-center mb-4">
    Modificar evento
 </h3>
      <!-- Modal body -->
      <form [formGroup]="form">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <!-- Nombre del Evento -->
          <div class="sm:col-span-2">
            <label
              for="nombre_evento"
              class="block mb-2 text-sm font-medium text-white"
              >Nombre del Evento</label
            >
            <input
              type="text"
              id="nombre_evento"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Nombre del Evento"
              formControlName="nombre_evento"
            />
            <div
              *ngIf="
                form.get('nombre_evento')?.touched &&
                form.get('nombre_evento')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('nombre_evento')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Fecha de Inicio -->
          <div>
            <label
              for="fecha_inicio"
              class="block mb-2 text-sm font-medium text-white"
              >Fecha de Inicio</label
            >
            <input
              type="date"
              id="fecha_inicio"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              formControlName="fecha_inicio"
            />
            <div
              *ngIf="
                form.get('fecha_inicio')?.touched &&
                form.get('fecha_inicio')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('fecha_inicio')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Hora de Inicio -->
          <div>
            <label
              for="hora_inicio"
              class="block mb-2 text-sm font-medium text-white"
              >Hora de Inicio</label
            >
            <input
              type="time"
              id="hora_inicio"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              formControlName="hora_inicio"
            />
            <div
              *ngIf="
                form.get('hora_inicio')?.touched &&
                form.get('hora_inicio')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('hora_inicio')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Fecha de Término -->
          <div>
            <label
              for="fecha_termino"
              class="block mb-2 text-sm font-medium text-white"
              >Fecha de Término</label
            >
            <input
              type="date"
              id="fecha_termino"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              formControlName="fecha_termino"
            />
            <div
              *ngIf="
                form.get('fecha_termino')?.touched &&
                form.get('fecha_termino')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('fecha_termino')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Hora de Término -->
          <div>
            <label
              for="hora_termino"
              class="block mb-2 text-sm font-medium text-white"
              >Hora de Término</label
            >
            <input
              type="time"
              id="hora_termino"
              class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-white border-gray-600 placeholder-gray-400 text-black"
              formControlName="hora_termino"
            />
            <div
              *ngIf="
                form.get('hora_termino')?.touched &&
                form.get('hora_termino')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('hora_termino')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Descripción -->
          <div class="sm:col-span-2">
            <label
              for="descripcion"
              class="block mb-2 text-sm font-medium text-white"
              >Descripción</label
            >
            <textarea
              id="descripcion"
              formControlName="descripcion"
              rows="5"
              class="block p-2.5 w-full text-sm rounded-lg border focus:ring-primary-500 focus:border-primary-500 bg-white border-gray-600 placeholder-gray-400 text-black"
              placeholder="Descripción del Evento"
            ></textarea>
            <div
              *ngIf="
                form.get('descripcion')?.touched &&
                form.get('descripcion')?.invalid
              "
              class="text-sm text-white"
            >
              <span *ngIf="form.get('descripcion')?.errors?.['required']"
                >Este campo es obligatorio</span
              >
            </div>
          </div>

          <!-- Imagen -->
          <div class="flex flex-col ">
            <label for="imagen" class="text-white">Imagen</label>
            <input
              id="imagen"
              formControlName="imagen"
              type="file"
              accept="image/*"
              (change)="cargarFoto($event)"
              class="block w-full text-sm text-gray-900 cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              required
            />
            <div *ngIf="form.get('imagen')?.touched && form.get('imagen')?.invalid" class="text-sm text-white">
              <span *ngIf="form.get('imagen')?.errors?.['required']">Seleccione una imagen</span>
            </div>
          </div>

        </div>

        <!-- Botón para Guardar -->
        <div class="flex items-center space-x-4">
          <button
            [disabled]="loading()"
            (click)="actualizar()"
            type="button submit"
            class="w-full text-white bg-orange-500 hover:bg-orange-400 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2.5"
          >
            {{ loading() ? "Actualizando ..." : "Actualizar evento" }}
          </button>

          <button
            type="button"
            [disabled]="loading2()"
            (click)="borrarEvento()"
            class="w-full text-white bg-orange-500 hover:bg-orange-400 inline-flex justify-center items-center hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
          >
            {{ loading2() ? "Eliminando ..." : "Eliminar evento" }}
          </button>
        </div>
      </form>
    </div>
