<div class="bg-gray-100 min-h-screen p-6 space-y-8">
  <!-- Contenedor de gráficos -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Gráficos -->

    <!-- Grafico 1 -->
    <app-grafico1></app-grafico1>

    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700 mb-4">Gráfico 2</h3>
      <div class="h-64"><canvas></canvas></div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700 mb-4">Gráfico 3</h3>
      <div class="h-64"><canvas></canvas></div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700 mb-4">Gráfico 4</h3>
      <div class="h-64"><canvas></canvas></div>
    </div>
  </div>

  <!-- Ajustar espaciado entre los componentes hijos -->
  <div class="mt-8">
    <app-solicitudes-oirs></app-solicitudes-oirs>
  </div>

  <div class="mt-8">
    <app-recompensas></app-recompensas>
  </div>

  <div class="mt-8">
    <app-comentarios-aplicacion></app-comentarios-aplicacion>
  </div>
</div>
